body,h1 {
    margin: 0em;
    padding: 0em;
}

body {
    background: url('image001.jpg');
    background-color: #EFEBDE;
    
}
#content {
    background-color: #D0E0FF;

 }
#head {
    background: url('image001.jpg');
    background-color: #d0e0ff;
    padding: 10px 1em 0px;


}

#content {
    padding: 1em;
}

table td {
    vertical-align: top;
}
div.confirmed { 
  background-color: rgb(221,255,221);
  border: 1px solid #000000; 
  margin: 0px auto;
  padding: 10px;
  width: 500px;
  text-align: left;



 }

div.warning { 
  background-color: rgb(255,204,204);

  border: 1px solid #000000; 
  margin: 0px auto;
  padding: 10px;
  width: 500px;
  text-align: left;


 }

div.code { 
           background-color: black;
           color: white;

 }

div#notice { 

             background-color: #DDFFDD;


 }

div#notice p { 
               padding:10px;

 }

div.body { 
width: 600px;

 }
div.info { 
padding: 1em;
padding-left: 30px;
           margin: 0em auto;
width: 75%;           
background: url('information.gif') no-repeat 10px 10px #D8E4F1;
border: 1px solid #000000;
 }

#errors { 
  background-color: rgb(255,255,206);
  border: 1px solid #000000; 
  margin: 0px auto;
  padding: 10px;
  width: 500px;
  text-align: left;
  }



#prolog {
    background-color: #E7D19A;
    border: 1px solid #3C3623;
    padding-left: 1em;
}
#prolog h3 {
    text-align: center;
}

/* Table coloring */
table.striped, table.unstriped{ 
                background-color: #ffffff;
              }

table.striped th, table.unstriped th { 
    background-color: rgb(61,131,201);
    color: #ffffff;
 }

table.unstriped th { 

width: 100px;
text-align:right;

 }

table.unstriped { 
margin-bottom: 1em;
 }

#history dt, #history dd { 
display: inline;
margin:0;
padding:0;
color: #666666;
 }

#history dt { 
padding-right: 1em;
 }

#history dd span { 
padding-left: 20px;
color: #999999;

 }

tr.alt { 
    background-color: #ecf6fc;
}
/* Begin Navigation */
#navbar ul
{
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;

}

#navbar li
{
    display: inline;
    list-style-type: none;

}

#navbar a { padding: 3px 10px; }

#navbar a:link, #navbar a:visited
{
    color: #000;
    background-color: #E7D19A;
    text-decoration: none;
}

#navbar a:hover
{
    color: #fff;
    background-color: #369;
    text-decoration: none;
}

/*  */
form label {
    font-weight: 900;
}


/* Login Form styling */
#loginBox {
    color:#333333;
    font-family:verdana,geneva,sans-serif;

}

#loginDropdown { 
    padding: 1em;

    cursor:pointer;

    position:absolute;
    right:15px;
    top:8px;
    width:16.2em;
    z-index:1000;

 }

.expanded {
    background-color: rgb(250,250,255);
    border:1px solid #333333;
}